<main class="main">
  <div class="content">
    <h1>Welcome to the Rating Input Component Demo!</h1>
    <p>Click on the stars below to set your rating:</p>
    <rating-input></rating-input>
  </div>
  <section>
    <h2>Template-Driven Form Example</h2>
    <form #templateForm="ngForm">
      <label for="templateRating">Rate (1-5): </label>
      <rating-input id="templateRating" name="templateRating" [(ngModel)]="templateRating"></rating-input>
      <p>Your rating: {{ templateRating }}</p>
    </form>
  </section>
  <section>
    <h2>Reactive Form Example</h2>
    <form [formGroup]="ratingForm">
      <label for="reactiveRating">Rate (1-5): </label>
      <rating-input id="reactiveRating" formControlName="rating"></rating-input>
      <p>Your rating: {{ ratingForm.get('rating')?.value }}</p>
    </form>
    <button (click)="toggleDisableFormGroup()">Toggle Disable Reactive Form</button>
  </section>
  <section>
    <h2>Standalone FormControl Example</h2>
    <label for="controlRating">Rate (1-5): </label>
    <rating-input id="controlRating" [formControl]="ratingControl"></rating-input>
    <p>Your rating: {{ ratingControl.value }}</p>
    <button (click)="toggleDisableFormControl()">
      Toggle Disable FormControl
    </button>
  </section>
</main>

<router-outlet />
